.bg-cyan
{
	background: #0099ff;
}

.bg-cyan-light
{
	background: rgba(0,154,255,0.82);
}

.block-element
{
	background: #0099ff;
}

.block-element:nth-child(2n+1)
{
	background:rgba(0,154,255,0.82);
}


.section:nth-child(2n+1) .block-element
{
	background:rgba(36,142,214,0.95);
}

.section:nth-child(2n+1) .block-element:nth-child(2n+1)
{
	background:rgba(0,154,255,0.68);
}