/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	height: auto;
	height: 300px;
	background: #f9f9f9;
	width: 100%;
	float: left;
	position: relative;
	
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.block-element {
	display: block;
	float:left;
	padding: 0;
	margin: 0;
	background: #000;
	background-repeat: no-repeat;
	background-size: cover;
}




/* 8 col */
.span-1-8 {
	width: 12.5%;
}
.span-2-8 {
	width: 25%;
}
.span-3-8 {
	width: 37.5%;
}
.span-4-8 {
	width: 50%;
}
.span-5-8 {
	width: 62.5%;
}
.span-6-8 {
	width: 75%;
}
.span-7-8 {
	width: 87.5%;
}
.span-8-8 {
	width: 100%;
}


/* twelve cols */
.span-1-12 {
	width: 8.33333%;
}
.span-2-12 {
	width: 16.66666%;
}
.span-3-12 {
	width: 25%;
}
.span-4-12 {
	width: 33.33333%;
}
.span-5-12 {
	width: 41.66666%;
}
.span-6-12 {
	width: 50%;
}
.span-7-12 {
	width: 58.33333%;
}
.span-8-12 {
	width: 66.66666%;
}
.span-9-12 {
	width: 75%;
}
.span-10-12 {
	width: 83.33333%;
}
.span-11-12 {
	width: 91.66666%;
}
.span-12-12 {
	width: 100%;
}

/* sixteen cols */
.span-1-16 {
	width: 6.25%;
}
.span-2-16 {
	width: 12.5%;
}
.span-3-16 {
	width: 18.75%;
}
.span-4-16 {
	width: 25%;
}
.span-5-16 {
	width: 31.25%;
}
.span-6-16 {
	width: 37.5%;
}
.span-7-16 {
	width: 43.75%;
}
.span-8-16 {
	width: 50%;
}
.span-9-16 {
	width: 56.25%;
}
.span-10-16 {
	width: 62.5%;
}
.span-11-16 {
	width: 68.75%;
}
.span-12-16 {
	width: 75%;
}
.span-13-16 {
	width: 81.25%;
}
.span-14-16 {
	width: 87.5%;
}
.span-15-16 {
	width: 93.75%;
}
.span-16-16 {
	width: 100%;
	margin-right: 0;
}


/* 32 cols */
.span-1-32 {
	width: 3.125%;
}
.span-2-32 {
	width: 6.25%;
}
.span-3-32 {
	width: 9.375%;
}
.span-4-32 {
	width: 12.5%;
}
.span-5-32 {
	width: 15.625%;
}
.span-6-32 {
	width: 18.75%;
}
.span-7-32 {
	width: 21.875%;
}
.span-8-32 {
	width: 25%;
}
.span-9-32 {
	width: 28.125%;
}
.span-10-32 {
	width: 31.25%;
}
.span-11-32 {
	width: 34.375%;
}
.span-12-32 {
	width: 37.5%;
}
.span-13-32 {
	width: 40.625%;
}
.span-14-32 {
	width: 43.75%;
}
.span-15-32 {
	width: 46.875%;
}
.span-16-32 {
	width: 50%;
}
.span-17-32 {
	width: 53.125%;
}
.span-18-32 {
	width: 56.25%;
}
.span-19-32 {
	width: 59.375%;
}
.span-20-32 {
	width: 62.5%;
}
.span-21-32 {
	width: 65.625%;
}
.span-22-32 {
	width: 68.75%;
}
.span-23-32 {
	width: 71.875%;
}
.span-24-32 {
	width: 75%;
}
.span-25-32 {
	width: 78.125%;
}
.span-26-32 {
	width: 81.25%;
}
.span-27-32 {
	width: 84.375%;
}
.span-28-32 {
	width: 87.5%;
}
.span-29-32 {
	width: 90.625%;
}
.span-30-32 {
	width: 93.75%;
}
.span-31-32 {
	width: 96.875%;
}
.span-32-32 {
	width: 100%;
	margin-right: 0;
}

@media only screen and (max-width: 480px) {
	
	.span-1-8,
	.span-2-8,
	.span-3-8,
	.span-4-8,
	.span-5-8,
	.span-6-8,
	.span-7-8,
	.span-8-8,
	.span-1-12,
	.span-2-12,
	.span-3-12,
	.span-4-12,
	.span-5-12,
	.span-6-12,
	.span-7-12,
	.span-8-12,
	.span-9-12,
	.span-10-12,
	.span-11-12,
	.span-12-12,
	.span-1-16,
	.span-2-16,
	.span-3-16,
	.span-4-16,
	.span-5-16,
	.span-6-16,
	.span-7-16,
	.span-8-16,
	.span-9-16,
	.span-10-16,
	.span-11-16,
	.span-12-16,
	.span-13-16,
	.span-14-16,
	.span-15-16,
	.span-16-16,
	.span-1-32,
	.span-2-32,
	.span-3-32,
	.span-4-32,
	.span-5-32,
	.span-6-32,
	.span-7-32,
	.span-8-32,
	.span-9-32,
	.span-10-32,
	.span-11-32,
	.span-12-32,
	.span-13-32,
	.span-14-32,
	.span-15-32,
	.span-16-32,
	.span-17-32,
	.span-18-32,
	.span-19-32,
	.span-20-32,
	.span-21-32,
	.span-22-32,
	.span-23-32,
	.span-24-32,
	.span-25-32,
	.span-26-32,
	.span-27-32,
	.span-28-32,
	.span-29-32,
	.span-30-32,
	.span-31-32,
	.span-32-32
	{
		width: 100%; 
	}


}